{% extends "core/base.html" %}

{% block content %}
<div class="container" id="multiprovider-auth">
    Login with:

    <ul>
        <li><a href="/auth/github"><img src="/auth/assets/github.png" width="100" alt="GitHub"></a></li>
        <li><a href="/auth/google"><img src="/auth/assets/google.png" width="100" alt="Google"></a></li>
        <li><a href="/auth/mlh"><img src="/auth/assets/mlh.png" width="200" alt="MyMLH"></a></li>
    </ul>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}